.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content input {
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input {
    flex: 1;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}

.icon-button .fa {
    color: #007BFF;
}

.popup-actions {
    display: flex;
    justify-content: space-between;
}

.save-button, .cancel-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cancel-button {
    background-color: #FF4136;
}

.save-button:hover {
    background-color: #45a049;
}

.cancel-button:hover {
    background-color: #cc0000;
}
